body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: -webkit-linear-gradient(to right, #19547b, #ffe4b97e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #7194ac, #ffe4b97e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-rounded{
  background-color: blueviolet;

}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.menu {
  position: absolute;
  float: left;
  padding-top: 15px ;
  border-radius: 5px;
  width: 100%;
  z-index: 1;
}

.symbol {
  font-size: 35px;
}



.mapStyle {
position: absolute;
width: 100%;
height: 100%;
}

.btnGlobal{
  margin-top: 15px;
  padding-left: 15px;
}

.AddRestaurantBlock {
  position: absolute;
  z-index: 1;
  margin-top:  5px;
}

.aside {
  margin-top: -15px;
  height: 100vh;
  padding: 15px;
  z-index: 1;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.781);

}

.chevronAside{
  cursor: pointer;
}
.chevronAside:hover{
  color:#17A2B8

}

.asideInfoElementList{
background-color: rgba(255, 255, 255, 0.418);
padding: 10px;
margin-top: 5%;
border-radius: 5px;
}

.advice{
  margin-top: 15px ;
  background-color: rgba(255, 255, 255, 0.418);
  border: 1px solid rgba(208, 236, 247);
  padding: 5px;

}





.markerUser{
  position: absolute;
  height: 40px;
  width: 40px;
  padding: 10px 10px;
  text-align: center;
  align-items: center;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  background-image: url("./components/img/markerUser.svg");
  z-index: 10;

}




.restaurantMarker {
  cursor: pointer;
  color:  #17A2B8;
  position: absolute;

  top: "100%";
  left: "50%";
  transform: "translate(-50%, -100%)"
  
}

.restaurantMarker:hover {
  cursor: pointer;
  color: rgba(22, 244, 229, 0.996);
  position: absolute;
}
.selectedRestaurant{
  -webkit-box-shadow: inset 0px 0px 1px 2px rgba(124, 227, 253,1);
  -moz-box-shadow: inset 0px 0px 1px 2px rgba(124, 227, 253,1);
  box-shadow: inset 0px 0px 1px 2px rgb(124, 227, 253);
}
.selectedRestaurantMarker{
  cursor: pointer;
  color: rgba(22, 244, 229, 0.996);
  position: absolute;
  top: "100%";
  left: "50%";
  transform: "translate(-50%, -100%)";
  -webkit-animation: bounce-top 1.5s both;
	        animation: bounce-top 1.5s both;
          z-index: 1000;
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}




.tooltip-inner{
  background-color:rgba(245, 245, 245, 0.87);
  color: #3b3F42;
  -webkit-box-shadow: 2px 2px 8px 0px rgba(50, 50, 50, 0.45);
  -moz-box-shadow:    2px 2px 8px 0px rgba(50, 50, 50, 0.45);
  box-shadow:         2px 2px 8px 0px rgba(50, 50, 50, 0.45);
}



.fa-beat {
  cursor: pointer;
  animation:fa-beat 3s ease infinite;
  color: crimson;
  text-align: center;
  transform-origin: bottom ;
  position: absolute;
}
@keyframes fa-beat {
  0% {
    transform:scale(1);
  }
  25% {
    transform:scale(1.25);
  }
  50% {
    transform:scale(1);
  }
 
  75% {
    transfor:scale(1.25);

  }
  100% {
    transform:scale(1);
  }

}

.blob {
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse-black 2s infinite;
}

@keyframes pulse-black {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 195, 255, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 195, 255, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0,195 , 255, 0);
	}
}


.animated { 
   animation-duration: 1.5s; 
   animation-fill-mode: both; 
   animation-timing-function: ease-out; 
   animation-iteration-count:infinite; 
} 

@keyframes pulse { 
   0% { transform: scale(1); } 
   50% { transform: scale(1.3); } 
   100% { transform: scale(1); } 
} 
.pulse { 
   animation-name: pulse; 
}


/*a reverifier pour le translate via le changement de className par le hooks dans Aside*/
.slide-right {
  height: 100vh;
  padding: 15px;
  margin-left: -300px;
  overflow: hidden;

	-webkit-animation: slide-right 1.3s ease-in-out alternate both;
	        animation: slide-right 1.3s ease-in-out alternate both;
}
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  100% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
}


.slide-left{
  height: 100vh;
  padding: 15px;
  overflow: hidden;

	-webkit-animation: slide-left 1.3s ease-in-out both;
	        animation: slide-left 1.3s ease-in-out both;
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
}
